/* Common class */
.relative {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-4 {
    width: 33.3333%;
}

.col-8 {
    width: 66.6666%;
}
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pl-8 {
    padding-left: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.overlay-popup {
    z-index: 5;
}
.overlay-dialog {
    z-index: 10;
}
.overlay-loading {
    z-index: 99;
}