
.header {
    width: calc(100% - var(--sidebar-width));
    height: 44px;
    background-color: #fff;
    padding: 0 var(--space-default);
    margin-left: var(--sidebar-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header left */
.header-left__text {
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

/* Header right */
.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right__text {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 26px;

}


/* Custom Numeric Input */
.header-right__numeric{
    display: flex;
    align-items: center;
    width: 112px;
    height: 30px;
    background-color: var(--color-primary-light);
    margin-right: 17px;
}

.header-right__numeric label {
    margin-left: 11px;
}

.header-right__numeric-value {
    color: #000;
    font-weight: 700;
    margin-left: 15px;
}

.header-right__btn-group {
    display: flex;
    align-items: center;
}

/* Xử lí icon btn cuối của header phải */
.header-right__btn-group .btn-icon:not(:last-child) {
    padding: 0 10px;
}
.header-right__btn-group .btn-icon:last-child {
    padding-left: 8px;
}

.header-right__btn-group .btn-icon:last-child .down-icon {
    margin-left: 10px;
}


