.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary-dark);
    width: 66px;
    height: 100vh;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .16);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
#logo {
    margin: 11px 15px 4px 15px;
}

/* Btn Icon Sidebar */
.sidebar__btn-group {
    margin-top: 8px;
}

.sidebar__btn {
    margin-top: 4px;
    opacity: .2;
    border-radius: 6px;
    width: 44px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
    overflow: hidden;
    background-color: transparent;
    border: none;
}


.sidebar__btn:hover,
.sidebar__btn:active,
.sidebar__btn:focus {
    opacity: 1;
    background-color: var(--color-primary);
}

/* show hide active icon */
.sidebar__btn:hover  .icon-not-active,
.sidebar__btn:active .icon-not-active,
.sidebar__btn:focus .icon-not-active {
    display: none;
}
.sidebar__btn:hover .icon-active,
.sidebar__btn:active .icon-active,
.sidebar__btn:focus .icon-active {
    display: flex;
}