<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Quản lý tài sản Demo</title>
</head>
<body>
    <div class="app">
        <!-- Header -->
        <header class="header">

            <!-- Header Left-->
            <div class="header-left">
                <h2 class="header-left__text">Danh sách tài sản</h2>
            </div>

        <!-- Header right -->
            <div class="header-right">
                <div class="header-right__text">Sở tài chính</div>

                <div class="header-right__numeric">
                    <label>Năm</label>
                    <span class="header-right__numeric-value">2014</span>
                    <div class="up-down-icon">
                        <div class="up-icon"></div>
                        <div class="down-icon"></div>
                    </div>
                </div>
                
                <div class="header-right__btn-group">
                    <button class="btn btn-icon not-outline">
                        <div class="wrapper-icon">
                            <div class="icon"></div>
                        </div>
                    </button>   
                    <button class="btn btn-icon not-outline">
                        <div class="wrapper-icon">
                            <div class="icon"></div>
                        </div>
                    </button>
                    <button class="btn btn-icon not-outline">
                        <div class="wrapper-icon">
                            <div class="icon"></div>
                        </div>
                    </button>
                    <button class="btn btn-icon not-outline">
                        <div class="wrapper-icon">
                            <div class="icon"></div>
                        </div>
                        <div class="down-icon"></div>
                    </button>
                </div>
            </div>
        </header>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Logo -->
            <div id="logo">
                <div class="logo__icon"></div>
            </div>

            <!-- Sidebar Group -->
            <div class="sidebar__btn-group">
                <button class="sidebar__btn">
                    <div class="wrapper-icon">
                        <div class="tv-icon"></div>
                    </div>
                </button>
                <button class="sidebar__btn">
                    <div class="wrapper-icon">
                        <div class="tv-icon"></div>
                    </div>
                </button>
                <button class="sidebar__btn">
                    <div class="wrapper-icon">
                        <div class="tv-icon"></div>
                    </div>
                </button>
                <button class="sidebar__btn">
                    <div class="wrapper-icon">
                        <div class="tv-icon"></div>
                    </div>
                </button>
                <button class="sidebar__btn">
                    <div class="wrapper-icon">
                        <div class="tv-icon"></div>
                    </div>
                </button>
                <button class="sidebar__btn">
                    <div class="wrapper-icon">
                        <div class="tv-icon"></div>
                    </div>
                </button>
                <button class="sidebar__btn">
                    <div class="wrapper-icon">
                        <div class="tv-icon"></div>
                    </div>
                </button>
            </div>
        </div>



        <div class="container">

        </div>
    </div>
</body>
</html>