<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div>1.Popup</div>
    <div class="popup">
        <div class="popup-main">
            <h4 class="popup-header">Sửa tài sản</h4>
            <div class="popup-form">
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Mã tài sản <i>*</i></label>
                    <input class="input" type="text">
                </div>
                <div class="wrapper-input col-8 popup-item">
                    <label for="">Tên tài sản <i>*</i></label>
                    <input class="input" type="text">
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Mã bộ phận sử dụng <i>*</i></label>
                    <div class="select-box relative">
                        <div class="select-box__header input relative" tabindex="1">
                            HTCH
                            <div class="wrapper-icon icon-24 right-icon">
                                <div class="down-icon"></div>
                            </div>
                        </div>

                        <ul class="select-box__list">
                            <li class="select-box__item">
                                Laptop
                            </li>
                            <li class="select-box__item">
                                Tiền mặt
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-input col-8 popup-item">
                    <label for="">Tên bộ phận sử dụng</label>
                    <input class="input" type="text" disabled>
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Mã loại tài sản <i>*</i></label>
                    <div class="select-box relative">
                        <div class="select-box__header input relative" tabindex="1">
                            MTXT
                            <div class="wrapper-icon icon-24 right-icon">
                                <div class="down-icon"></div>
                            </div>
                        </div>

                        <ul class="select-box__list">
                            <li class="select-box__item">
                                Laptop
                            </li>
                            <li class="select-box__item">
                                Tiền mặt
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper-input col-8 popup-item">
                    <label for="">Tên loại tài sản</label>
                    <input class="input" type="text" disabled>
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Số lượng <i>*</i></label>
                    <div class="select-box relative">
                        <div class="select-box__header input has-right-icon relative text-right" tabindex="1">
                            1
                            <div class="wrapper-icon icon-24 right-icon">
                                <div class="up-down-icon">
                                    <div class="up-icon"></div>
                                    <div class="down-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Nguyên giá <i>*</i></label>
                    <input class="input text-right" type="text">
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Số năm sử dụng <i>*</i></label>
                    <input class="input text-right" type="text">
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Tỷ lệ hao mòn (%) <i>*</i></label>
                    <div class="select-box relative">
                        <div class="select-box__header input has-right-icon relative text-right" tabindex="1">
                            0.02
                            <div class="wrapper-icon icon-24 right-icon">
                                <div class="up-down-icon">
                                    <div class="up-icon"></div>
                                    <div class="down-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Giá trị hao mòn năm <i>*</i></label>
                    <input class="input text-right" type="text">
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Năm theo dõi</label>
                    <input class="input text-right" type="text" disabled>
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Ngày mua <i>*</i></label>
                    <input class="input" type="date">
                </div>
                <div class="wrapper-input col-4 popup-item">
                    <label for="">Ngày bắt đầu sử dụng <i>*</i></label>
                    <input class="input" type="date">
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="btn btn-sub">Hủy</div>
            <div class="btn btn-main">Lưu</div>
        </div>
    </div>
</body>
</html>