/* Common btn Css */
.btn {
    min-width: 100px;
    padding: 0 20px;
    height: var(--height-default);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--color-primary);
}

.btn:disabled {
    opacity: 0.6;
    pointer-events: none;
}

.btn + .btn {
    margin-left: 10px;
}

/* Main button CSS */
.btn-main {
    background-color: var(--color-primary);
    color: #fff;
    border-color: var(--color-primary);
}

.btn-main:hover {
    background-color: #004999;
}

.btn-main:active  {
    opacity: 0.9;
}

.btn-main:focus{
    opacity: 0.8;
}

/* Sub button */
.btn-sub {
    background-color: #fff;
    color: var(--color-primary);
}

.btn-sub:hover {
    background-color: var(--color-primary-light);
}

/* Outline button */
.btn-outline {
    background-color: #fff;
    color: var(--color-text);
    border-color: var(--border-color);
}

.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    background-color: var(--color-primary);
    color: #fff;
}


/* Main button have icon */
.btn-main.has-icon {
    padding-left: 11px;
}

/* Icon btn */
.btn-icon {
    min-width: 30px;
    background-color: #fff;
    border-color: #fff;
    padding: 0;
}

.btn-icon.not-effect {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.btn-icon:hover,
.btn-icon:focus,
.btn-icon:active {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.btn-icon.not-effect + .btn-icon.not-effect {
    margin: 0;
}







