/* Common input Css*/
.input {
    min-width: 180px;
    height: var(--height-default);
    font-size: 14px;
    outline: none;
    border-radius: 2.5px;
    border: 1px solid var(--border-color);
    padding: 10px 14px;
}

.input:disabled {
    opacity: 0.6;
    pointer-events: none;
    background-color: #f5f5f5;
}

.input::placeholder {
    font-style: italic;
}

.input:hover,
.input:focus {
    background-color: #f5f5f5;
    border-color: var(--color-primary);
}

.input:active {
    border-color: var(--border-color-active);
}

.input::selection {
    background-color: var(--color-primary);
    color: #fff;
}

.input.error {
    border-color: var(--color-error);
}

/* Input has Icon */
.input.has-left-icon {
    padding-left: 38px;
}

.input.has-right-icon {
    padding-right: 38px;
}

/* Select box css */
.select-box {
    min-width: 220px;
}

.select-box__header {
    background-color: #fff;
    padding: 10px 0 10px 14px;
    cursor: pointer;
}

/* Selectbox has icon */
.select-box__list.has-icon .select-box__item {
    padding-left: 38px;
}

/* Select list */
.select-box__list {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 2.5px;
    padding: 4px 4px 4px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    max-height: 200px;
    overflow-y: auto;
    z-index: 3;
}

.select-box__item {
    height: var(--height-default);
    font-size: 14px;
    padding: 10px 0 10px 14px;
    border-radius: 2.5px;
}

.select-box__item:hover{
    background-color: var(--color-primary-light);
}

.select-box__header:focus ~ .select-box__list {
    display: block;
}

/* input in Wrapper */
.wrapper-input {
    display: flex;
    flex-direction: column;
}

.wrapper-input label {
    font-size: 14px;
    margin-bottom: 8px;
}

.wrapper-input label i {
    color: red;
}




