.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-btn {
    background-color: #ffffff;
    border-radius: 6px;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.pagination-btn:hover,
.pagination-btn:active,
.pagination-btn:focus,
.pagination-btn.active {
    background-color: var(--color-sub);
    font-weight: 700;
}